<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body style="background: #FAFAFA">


  <div style="display: flex; flex-direction: column; align-items: center; margin: 30px; ">
      <div style="display: inline-flex; flex-direction: column;  padding:20px;border:solid 1px rgba(219,219,219,1); width: 300px; height: 370px; text-align: center;">
          <div><img style="padding: 20px 0px;width: 150px"
                                                  src="https://blog.kakaocdn.net/dn/b5QczF/btrehC6dzmX/7VS9KZZIkBlYV2GKnuUGCK/img.png">
          </div>
          <div style="padding-bottom: 20px;font-weight: bold; color:darkgray;"> 친구들의 사진과 동영상을 보려면 가입하세요.</div>
          <div>
              <div class="form-floating mb-3">
                  <input style=" font-size: 14px; padding-top:20px; min-height:50px; height: 40px;" type="email"
                         class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label style=" display: flex; flex-direction: row; align-items:center; font-size: 15px; padding-top: 15px;padding-bottom: 0px;height: 30px;"
                         for="floatingInput">이메일 주소</label>
              </div>
          </div>
          <div>
              <div class="form-floating mb-3">
                  <input style=" font-size: 14px; padding-top:20px; min-height:50px; height: 40px;" type="password"
                         class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label style=" display: flex; flex-direction: row; align-items:center; font-size: 15px; padding-top: 15px;padding-bottom: 0px;height: 30px;"
                         for="floatingInput">비밀번호</label>
              </div>
          </div>
          <button style="width: 100%;font-weight: bolder; color: white;" type="button" class="btn btn-warning">로그인</button>
      </div>
      <div style="padding:20px;border:solid 1px rgba(219,219,219,1); width: 300px; height: 70px; text-align: center; margin-top: 30px;">
          <div> 계정이 없으신가요? <a href="join">회원가입</a> </div>
      </div>
  </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>